<%= render partial: "layouts/nav", locals: {items: [], shouldShow: true, shouldShowDevelopers: false} %>
<header class="developers-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Developers</h1>
      <hr>
    </div>
  </div>
</header>

<section>
	<div class="container">
		<h2>Public APIs</h2>
		<br>

		<table class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>Name</th>
            <th>Method</th>
            <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>api/v1/cities/:id</td>
          <td>GET</td>
          <td>Get the city by city id</td>
        </tr>
      </tbody>
    </table>
	</div>

</section>
<%= render partial: "layouts/footer" %>