<%= render partial: "layouts/nav", locals: {items: [], shouldShow: true} %>
<header class="developers-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Developers</h1>
      <hr>
    </div>
  </div>
</header>

<section>
	<div class="container">
		<h1>Public APIs</h1>
		<h3>api/v1/cities</h3>
		<h5>
	</div>

</section>
