<section id="contribution" class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Not Finding the Information You Want?</h2>
        <h2 class="section-heading">Let's Contribute!</h2>
        <hr class="primary">
        <p>If you're working for a recycling center and you want to contribute to the data, please register at <a href="/users/sign_up">this page</a>.</p>
        <p>If you already have an account, please log in at <a href="/users/sign_in">this page</a></p>
      </div>
    </div>
  </div>
</section>