<%= render partial: "layouts/nav", locals: {items: ["About", "Categories", "Contact"]} %>
<header class="city-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Claremont</h1>
      <hr>
    </div>
  </div>
</header>
<!--<h1>Cities#show</h1>-->
<!--<p>Find me in app/views/cities/show.html.erb</p>-->
<section class="city-slider-container">
  <div class="flexslider city-flexslider">
      <ul class="slides">
        <% @categories.each do |category| %>
          <li><div class="portfolio-box">
            <%= image_tag "categories/thumbnails/#{category.image_link}", class: "img-responsive" %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  <%= category.name %>
                </div>
              </div>
            </div>
          </div>

          </li>
        <!--<li>-->
          <!--<img src="slide2.jpg" />-->
        <!--</li>-->
        <!--<li>-->
          <!--<img src="slide3.jpg" />-->
        <!--</li>-->
        <!--<li>-->
          <!--<img src="slide4.jpg" />-->
        <!--</li>-->
        <!--&lt;!&ndash; items mirrored twice, total of 12 &ndash;&gt;-->
        <% end %>
      </ul>
  </div>
</section>

<section id="contact" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>(Ready to recyle with us?) Having issue and getting mad with our product? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>Michael's phone number</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:your-email@your-domain.com">ycai@hmc.edu</a></p>
      </div>
    </div>
  </div>
</section>
