
files:
  "/etc/security/limits.conf":
    mode: "00644"
    owner: "root"
    group: "root"
    content: |
      *         hard    nofile      65536
      *         soft    nofile      65536
      *         hard    memlock     -1
      *         soft    memlock     -1

commands:
  01restart_sysctl:
    command: sysctl -p
    ignoreErrors: false
  02restart_docker:
    command: service docker stop && ulimit -n 65536 && service docker start
    ignoreErrors: false
  03restart_ecs:
    command: docker start ecs-agent
    ignoreErrors: false
