
files:
  "/etc/security/limits.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      *         hard    nofile      65536
      *         soft    nofile      65536
      *         hard    memlock     -1
      *         soft    memlock     -1
  "/etc/sysconfig/docker":
    mode: "000755"
    owner: root
    group: root
    content: |
        # The max number of open files for the daemon itself, and all
        # running containers.  The default value of 1048576 mirrors the value
        # used by the systemd service unit.
        DAEMON_MAXFILES=1048576

        # Additional startup options for the Docker daemon, for example:
        # OPTIONS="--ip-forward=true --iptables=true"
        # By default we limit the number of open files per container
        OPTIONS="--default-ulimit nofile=65536:65536 --default-ulimit memlock=-1:-1"

        # How many seconds the sysvinit script waits for the pidfile to appear
        # when starting the daemon.
        DAEMON_PIDFILE_TIMEOUT=10

        # we already took care of the ulimit settings, setting these two variables to blank
        # so the init.d script doesn't override our changes
        OPTIONS=
        DAEMON_MAXFILES=

commands:
  01restart_sysctl:
    command: sysctl -p
    ignoreErrors: false
  02restart_docker:
    command: service docker stop && service docker start
    ignoreErrors: false
  03restart_ecs:
    command: docker start ecs-agent
    ignoreErrors: false
