// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "flexslider";
@import "dropzone/dropzone";
@import "chosen";

.button-as-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  display: block;
}

a.no-style {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}

.button-as-link:focus {
  outline: none;
}

#homeSubHeading {
  margin-top: 10px;
  color: #ccc;
}

#homeDescription {
  margin-bottom: 20px;
  color: #ddd;
}

.city-slider-container {
  //text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

.city-category-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0px;
}

.subcategory-selector {
  display: none;

  &.active {
    display: block;
  }
}

//.city-background-uploader {
//  border-radius: 5px;
//  border: #ccc 2px solid;
//}

.city-file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.facility-map {
  padding-top: 0px;
  padding-bottom: 50px;
}

#map {
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

.city-new-container {
  overflow: auto;
  padding-bottom: 50px;

  .city-form-container {
    margin-top: 30px;
  }

  .item {
    margin-bottom: 20px;
  }
}

a.black-link {
  color: black;
  text-decoration: none !important;
}

.city-files-container {
  overflow: auto;

  a {
    color: #757575;
    &:hover {
      cursor: pointer;
    }
  }
}

.city-contact-container {
  padding-left: 10%;
  padding-right: 10%;

  table {
    padding-left: 30%;
    padding-right: 30%;
  }

  a {
    color: #757575;
    &:hover {
      cursor: pointer;
    }
  }
}
