// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-container {
  overflow: auto;
  padding: 100px 0 0 0;
}

.user-city-container {
  overflow: auto;
  a {
    color: #338A2E;
    &:hover {
      color: #034500;
      cursor: pointer;
    }
  }
}
