input[type=searchinput] {
    width: 280px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: image-url('searchtool.png');
    background-size: 20px 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: black;
    opacity: 0.6;
}

input[type=searchinput]:focus {
    width: 70%;
}