// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-list-item {
	padding-top: 10px;
}

.result-image {
	height: 55px;
}

a.black-link {
	color: black;
	text-decoration: none !important;
}

.results-container {
	padding-left: 30px;
	padding-right: 30px;
}

.no-results {
	padding-top: 10px;
}