.searchForm {
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.searchTerm {
    border: 0;
    width: 40%;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: black;
    opacity: 0.6;
}
.searchTerm:focus {
    width: 75%;
    opacity: 1.0;
    outline: none;
}

.searchBtn{
    border: 0;
    width: 5%;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    background-image: image-url('searchtool.png');
    background-size: 22px 22px;
    background-position: 11px 11px;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.searchBtn:hover{
    opacity: 1.0;
}
.searchBtn:focus{
    outline: none;
}